In [1]:
import pandas as pd
import numpy as np

In [9]:
raw = pd.read_csv('wechat_raw2.csv')
raw.head()

       Name  Amount     Datetime
0        高路   29.13   7月8日 19:57
1  little 白   20.00   2月8日 23:44
2  little 白   20.00  2月16日 02:15
3       娄岳彪   20.00   2月9日 02:31
4        飛哥   20.00   2月9日 02:30

In [13]:
aggr = raw.groupby('Name').sum()
aggr.head()

           Amount
Name
 Iris        6.13
+_+          0.05
612星球       2.28
Amy L        0.66
BC.Prince    0.01

In [16]:
aggr.sort_values(by='Amount')

             Amount
Name
BC.Prince      0.01
修不好啦           0.04
+_+            0.05
random         0.05
Dobbi          0.09
碎碎             0.11
…真远…           0.11
gc             0.12
晴              0.21
Unicorn        0.23
沈良剑            0.24
爷              0.27
qiuqiu         0.29
董晓楠            0.29
张峰             0.31
Jarlin         0.31
伊儿             0.31
张宝宝            0.37
肉脸蛋妹驼          0.38
泰古             0.44
游戏人生           0.48
斯年的依儿          0.48
张甜             0.50
时雨             0.51
雪佛兰            0.52
陆敏燕            0.55
招商银行           0.58
筱娜             0.59
RON            0.60
王琛             0.61
...             ...
下一个路口遇见       12.00
小新没蜡笔         12.14
❂梁雨龙NEW ID❂   12.36
jinnlee       12.82
猫脸耗子Chris🐹    13.05
滴水汇海          13.82
Li            15.21
子彥            18.00
小米            19.27
朱梓馨           19.82
宋小芈           19.98
darlin东玲      21.00
萝卜            22.50
Sunday        23.94
娄岳彪           23.96
依儿的斯年         25.58
果妈            26.98
索拉斯柯          27.54
芝麻糊了          28.87
小锐            29.33
毛毛            30.55
高路            32.47
金帛土申          32.97
汤俊            33.25
liujj         35.64
darlin        42.63
飛哥            46.16
林佳峰           47.10
little 白      68.75
廖尚隽           71.74

[167 rows x 1 columns]