In [1]:
import pandas as pd
import numpy as np

In [9]:
raw = pd.read_csv('wechat_raw2.csv')
raw.head()

       Name  Amount     Datetime
0        é«˜è·¯   29.13   7æœˆ8æ—¥ 19:57
1  little ç™½   20.00   2æœˆ8æ—¥ 23:44
2  little ç™½   20.00  2æœˆ16æ—¥ 02:15
3       å¨„å²³å½ª   20.00   2æœˆ9æ—¥ 02:31
4        é£›å“¥   20.00   2æœˆ9æ—¥ 02:30

In [13]:
aggr = raw.groupby('Name').sum()
aggr.head()

           Amount
Name
 Iris        6.13
+_+          0.05
612æ˜Ÿçƒ îŒ®      2.28
Amy L        0.66
BC.Prince    0.01

In [16]:
aggr.sort_values(by='Amount')

             Amount
Name
BC.Prince      0.01
ä¿®ä¸å¥½å•¦           0.04
+_+            0.05
random         0.05
Dobbi          0.09
ç¢ç¢             0.11
â€¦çœŸè¿œâ€¦           0.11
gc             0.12
æ™´              0.21
Unicorn        0.23
æ²ˆè‰¯å‰‘            0.24
çˆ·              0.27
qiuqiu         0.29
è‘£æ™“æ¥             0.29
å¼ å³°             0.31
Jarlin         0.31
ä¼Šå„¿             0.31
å¼ å®å®            0.37
è‚‰è„¸è›‹å¦¹é©¼          0.38
æ³°å¤             0.44
æ¸¸æˆäººç”Ÿ           0.48
æ–¯å¹´çš„ä¾å„¿          0.48
å¼ ç”œ             0.50
æ—¶é›¨             0.51
é›ªä½›å…°            0.52
é™†æ•ç‡•            0.55
æ‹›å•†é“¶è¡Œ           0.58
ç­±å¨œ             0.59
RON            0.60
ç‹ç›             0.61
...             ...
ä¸‹ä¸€ä¸ªè·¯å£é‡è§       12.00
å°æ–°æ²¡èœ¡ç¬”         12.14
â‚æ¢é›¨é¾™NEW IDâ‚   12.36
jinnlee       12.82
çŒ«è„¸è€—å­ChrisğŸ¹    13.05
æ»´æ°´æ±‡æµ·          13.82
Li            15.21
å­å½¥            18.00
å°ç±³            19.27
æœ±æ¢“é¦¨           19.82
å®‹å°èŠˆ           19.98
darlinä¸œç²      21.00
èåœ            22.50
Sunday        23.94
å¨„å²³å½ª           23.96
ä¾å„¿çš„æ–¯å¹´         25.58
æœå¦ˆ            26.98
ç´¢æ‹‰æ–¯æŸ¯          27.54
èŠéº»ç³Šäº†          28.87
å°é”            29.33
æ¯›æ¯›            30.55
é«˜è·¯            32.47
é‡‘å¸›åœŸç”³          32.97
æ±¤ä¿Š            33.25
liujj         35.64
darlin        42.63
é£›å“¥            46.16
æ—ä½³å³°           47.10
little ç™½      68.75
å»–å°šéš½           71.74

[167 rows x 1 columns]